<?xml version="1.0" encoding="UTF-8" ?>
 <!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-config.dtd">
 <configuration>
  <properties resource="common/config/db.properties" /><!-- =path접근방식 (이곳에 있는 클래스 참조) -->
  
  <!-- 별칭 지정 ======================== -->
  <typeAliases>
  	<typeAlias type="board.model.BoardVO" alias="Board"/><!-- =board.model.BoardVO을 Board로 부른다. -->
  	<typeAlias type="board.model.ReplyVO" alias="Reply"/>
  	<typeAlias type="notice.model.NoticeVO" alias="Notice"/>
  </typeAliases>
  <!-- ================================== -->
  
  <environments default="development">
   <environment id="development">
    <transactionManager type="JDBC" />
    <dataSource type="POOLED">
     <property name="driver" value="${driver}" />
     <property name="url" value="${url}" />
     <property name="username" value="${username}" />
     <property name="password" value="${password}" />
    </dataSource>
   </environment>
  </environments>
  <mappers>
  <!-- ===================================== -->
  <!-- =sql문은 여기서 참조한다 -->
   <mapper resource="board/model/BoardMapper.xml" />
   <mapper resource="notice/model/NoticeMapper.xml" />
  <!-- ===================================== -->
  </mappers>
 </configuration>
